body, html{
    margin:0;
    padding:0;
    color:white;
    background-color: black;
    height: 250%;
}


/* education */



/* projects */

/* contacts */

.social_media{
    position: absolute;
    top: 600%;
    left: 30%;
    right:30%;
}

/* scroll */
.icon{
    position: absolute;
    background-color: black;
    border:none;
    left: 90%;
}

.top_to_bottom{
    top:90%;
}

.bottom_to_top{
    top:600%;
}





